@import "tailwindcss";

.progressContainer::before{ 
    content: "";
    position: absolute;
    background-color: #ddd;
    height:4px;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.progress {
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    z-index: 1;
}

.circle {
    background-color: #DDD;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.circle.active {
    background-color: #43766c;
    color:white;
    border: 1px solid #222;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    background-color: #43766c;
    padding: 5px 40px;
    color: white;
    transition: all 0.3s ease-in-out;
    transition-duration: 300ms;
    text-transform: capitalize;
}

.btn:hover{
    background-color: #336b60;
}

.btn:active {
    outline: none;
    transform: scale(0.98);
    transition-duration: 200ms;
}

.disabled {
    outline: none;
    border: none;
    cursor: not-allowed;
    font-family: inherit;
    border-radius: 4px;
    color: #222;
    background-color: #ddd;
    padding: 4px 40px;
    pointer-events: none;
}